@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron" style="margin-top: 20px;">
    <h1 class="display-4">Hei @User.Identity.Name!</h1>
    <p class="lead">Sinun tietosi:</p>
    <hr class="my-4">
    <p>Tunnus: @User.Identity.Name</p>
    <p>Sähköposti: testi@test.com</p>
    <p>Näyttönimi: s303004</p>
    <p>Työntekijätyyppi: Opiskelija</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Muokkaa tietojasi</a>
    </p>
</div>
